.cardContainer,
.largeCardContainer {
    justify-content: flex-start !important;
    width: 250px;
    height: 120px;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid var(--verde-gotec);
    box-shadow: -5px 0 0 0 var(--verde-oscuro-gotec), 5px 0 10px 0 #00000033
}

.cardContainer h3,
.largeCardContainer h3 {
    width: 90%;
    height: 30%;
    color: var(--azul-oscuro-gotec);
    letter-spacing: 1px;
    border-bottom: 1px solid var(--gris-intermedio-gotec);
}

.cardContainer p {
    height: 70%;
    width: 100%;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 1.5px;
    color: var(--verde-oscuro-gotec);
}

.largeCardContainer{
    height: 88%;
    width: 280px;
}

.largeCardContainer h3{
    height: 10%;
}
.largeCardContainer ul{
    height: 90%;
    justify-content: space-evenly;
    font-size: 16px;
}
.largeCardContainer li{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    color: var(--verde-oscuro-gotec);

}

.largeCardContainer p{
    margin-left: 10px;
    color: var(--negro-gotec);
    font-weight: 300;
}